In [4]:
import pandas as pd
import numpy as np

In [183]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
Income_Data = pd.read_csv(url, header = None, names = 
                          ['age', 'workclass', 'nlwgtf', 'education', 'education_num', 
                           'marital_status', 'occupation', 'relationship', 'race', 'sex', 
                           'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'MoreThan50']

                         )

You can find more info about this dataset [here](https://archive.ics.uci.edu/ml/datasets/Census+Income)

In [184]:
Income_Data.describe()

,age,nlwgtf,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [185]:
Income_Data[(Income_Data.education_num < 3) & Income_Data['native_country'].str.contains('Dominican-Republic') ]
list_vars = ['workclass', 'native_country', 'occupation']
for i in list_vars:
    Income_Data[i].replace(' ?', np.nan, inplace=True)
    print len(Income_Data[Income_Data[i].isnull()])

Income_Data_Work_Clean = Income_Data.dropna()
print len(Income_Data) - len(Income_Data_Work_Clean)
Income_Data_Work_Clean.describe()

1836
583
1843
2399

,age,nlwgtf,education_num,capital_gain,capital_loss,hours_per_week
count,30162.000000,3.016200e+04,30162.000000,30162.000000,30162.000000,30162.000000
mean,38.437902,1.897938e+05,10.121312,1092.007858,88.372489,40.931238
std,13.134665,1.056530e+05,2.549995,7406.346497,404.298370,11.979984
min,17.000000,1.376900e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.176272e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.784250e+05,10.000000,0.000000,0.000000,40.000000
75%,47.000000,2.376285e+05,13.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

age: continuous. 
workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked. 
fnlwgt: continuous. 
education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool. 
education-num: continuous. 
marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse. 
occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces. 
relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried. 
race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black. 
sex: Female, Male. 
capital-gain: continuous. 
capital-loss: continuous. 
hours-per-week: continuous. 
native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [174]:
#'Sex', 'education', 'occupation'
# Sex - male 
# education = Preschool
# occupation: Adm-clerical
#Make Dummies 

SexDummy = pd.get_dummies(Income_Data_Work_Clean.sex, prefix = 'sex')
del SexDummy['sex_male']

MaritalDummy = pd.get_dummies(CreditData.Gender, prefix = 'marital')
del GenderDummy['Gender_Male']  

relationship = pd.get_dummies(CreditData.Married, prefix = 'relationship')
del MarriedDummy['relationship_Unmarried']

StudentDummy = pd.get_dummies(CreditData.Student, prefix = 'Student')
del StudentDummy['Student_No']

CreditData = pd.concat([CreditData, RaceDummy,GenderDummy,MarriedDummy, StudentDummy], 
                        axis=1)

In [161]:

del dummies['sex_ Male']
del dummies['education_ Preschool']
del dummies['occupation_ Adm-clerical']
dummies.head()

,age,workclass,nlwgtf,education_num,marital_status,relationship,race,capital_gain,capital_loss,hours_per_week,...,occupation_ Farming-fishing,occupation_ Handlers-cleaners,occupation_ Machine-op-inspct,occupation_ Other-service,occupation_ Priv-house-serv,occupation_ Prof-specialty,occupation_ Protective-serv,occupation_ Sales,occupation_ Tech-support,occupation_ Transport-moving
0,39,State-gov,77516,13,Never-married,Not-in-family,White,2174,0,40,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Husband,White,0,0,13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,38,Private,215646,9,Divorced,Not-in-family,White,0,0,40,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,53,Private,234721,7,Married-civ-spouse,Husband,Black,0,0,40,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,28,Private,338409,13,Married-civ-spouse,Wife,Black,0,0,40,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [89]:
Income_Data_dummies = pd.concat([Income_Data_Work_Clean, dummies])

In [162]:
del_vars = [ 'capital_gain', 'capital_loss', 'hours_per_week', 'age', 'education_num', 'fnlwgt']
for var in del_vars:
    del dummies[var]

In [163]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import cross_val_score
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
%matplotlib inline

In [164]:
dummies.columns.values

array(['age', 'education_num', 'MoreThan50', 'sex_ Female',
       'education_ 10th', 'education_ 11th', 'education_ 12th',
       'education_ 1st-4th', 'education_ 5th-6th', 'education_ 7th-8th',
       'education_ 9th', 'education_ Assoc-acdm', 'education_ Assoc-voc',
       'education_ Bachelors', 'education_ Doctorate',
       'education_ HS-grad', 'education_ Masters',
       'education_ Prof-school', 'education_ Some-college',
       'occupation_ Armed-Forces', 'occupation_ Craft-repair',
       'occupation_ Exec-managerial', 'occupation_ Farming-fishing',
       'occupation_ Handlers-cleaners', 'occupation_ Machine-op-inspct',
       'occupation_ Other-service', 'occupation_ Priv-house-serv',
       'occupation_ Prof-specialty', 'occupation_ Protective-serv',
       'occupation_ Sales', 'occupation_ Tech-support',
       'occupation_ Transport-moving'], dtype=object)

In [130]:
print dummies['MoreThan50'].unique()
dummies.loc[dummies['MoreThan50'] == ' <=50K', 'MoreThan50'] = 0
dummies.loc[dummies['MoreThan50'] == ' >50K', 'MoreThan50'] = 1

[' <=50K' 1]

In [151]:
dummies.head()

,age,education_num,MoreThan50,sex_ Female,education_ 10th,education_ 11th,education_ 12th,education_ 1st-4th,education_ 5th-6th,education_ 7th-8th,...,occupation_ Farming-fishing,occupation_ Handlers-cleaners,occupation_ Machine-op-inspct,occupation_ Other-service,occupation_ Priv-house-serv,occupation_ Prof-specialty,occupation_ Protective-serv,occupation_ Sales,occupation_ Tech-support,occupation_ Transport-moving
0,39,13,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,50,13,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,38,9,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,53,7,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,28,13,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [171]:
del dummies['education_num']
#Income_Data[Income_Data['MoreThan50'] == ] = 1

In [165]:
dummies.head()
print dummies.columns.values

['age' 'education_num' 'MoreThan50' 'sex_ Female' 'education_ 10th'
 'education_ 11th' 'education_ 12th' 'education_ 1st-4th'
 'education_ 5th-6th' 'education_ 7th-8th' 'education_ 9th'
 'education_ Assoc-acdm' 'education_ Assoc-voc' 'education_ Bachelors'
 'education_ Doctorate' 'education_ HS-grad' 'education_ Masters'
 'education_ Prof-school' 'education_ Some-college'
 'occupation_ Armed-Forces' 'occupation_ Craft-repair'
 'occupation_ Exec-managerial' 'occupation_ Farming-fishing'
 'occupation_ Handlers-cleaners' 'occupation_ Machine-op-inspct'
 'occupation_ Other-service' 'occupation_ Priv-house-serv'
 'occupation_ Prof-specialty' 'occupation_ Protective-serv'
 'occupation_ Sales' 'occupation_ Tech-support'
 'occupation_ Transport-moving']

In [177]:
all_vars = dummies.columns.values
continuous = ['age']

def Standardize(X):
    X_Max = X.max()
    X_Min = X.min()
    X_Standardized = (X-X_Min)/(X_Max - X_Min)
    return X_Standardized

# for i in all_vars:
#      dummies[i] = Standardize(dummies[i])

X = dummies[all_vars]
del X['MoreThan50']
y = dummies['MoreThan50']

In [182]:
lm = LogisticRegression(C = 1,  solver = 'liblinear', max_iter  = 10000, penalty = 'l1')
y = y.values.T
lm.fit(X,y)
print(lm.coef_)

ValueError: Unknown label type: array([0, 0, 0, ..., 0, 0, 1], dtype=object)

In [158]:
c_list = np.logspace(-10,10,21) 
c_index = np.linspace(-10,10,21)

lm = LogisticRegression()
cv_scores = []
for c_score in c_list:
    lm = LogisticRegression(C = c_score, penalty = "l1")
    cv_scores.append(cross_val_score(lm, X['age'], y,cv=10).mean())


C_Choice_df = pd.DataFrame({'cv_scores': cv_scores ,'Log_C': c_index })
C_Choice_df.plot(x ='Log_C',y = 'cv_scores' )

//anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:386: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and willraise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

ValueError: Found arrays with inconsistent numbers of samples: [    1 27145]

In [ ]:
columns = X.columns.values
zip(columns, lm.coef_[0,:])